<article>There are <span><%= @contacts.length %></span> contacts.</article>
<% @contacts.each do |contact| -%>
  <ul>
    <li>
      <h3><%= contact.full_name %> (<%= contact.email %>)</h3>
      <p><a href=<%= "" %> >Edit</a> | <a href="#">Delete</a></p>
      <p><a href=<%= "contacts/#{contact.id}" %> >Contact Info</a></p>
    </li>
  </ul>
<% end %>
